.title{
  min-width: 15%;
  font-weight: bolder;
  font-size: 18px;
  color: #C98;
  float: left;
  min-height: 20px;
}
.banner{
  min-height: 20px;
  background: #C98;
  float: left;
  width: 72%;
  margin-left: 5px;
}
.icon{
  min-height: 20px;
  background: #C32;
  float: right;
  width: 10%;
  margin-left: 5px;
}
@media (max-width:480px) {
  .banner{
    min-height: 20px;
    background: #C98;
    float: left;
    width: 55%;
    margin-left: 10px;
  }
}
